rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthorized() {
      return request.auth != null &&
             firestore.exists(/databases/(default)/documents/usuariosAutorizados/$(request.auth.token.email));
    }

    match /portafolio/{proyectoId}/{filename=**} {
      allow read, write: if isAuthorized();
    }
  }
}
